<html>
   <head>
      <title>btn</title>
<style>

 @charset "UTF-8";
button {
  padding: 10px 20px;
  border: 1px solid #ddd;
  background-color: #50bfff;
  color: #fff;
  margin:0.2em;
  border-radius: 0.8em;
  font-size: 12pt;
  font-family: "Verdana";
  cursor: pointer;
}
button.success {
  background-color: #13ce66;
  color: #fff;
}
  </style>
  <script type = "text/javascript" src = "js/vue.js"></script>
   </head>
   <body>


<div id="app">
  
    <span class="btn" v-for="i in 10">
      <button v-bind:data-st=`${i}`>bt-{{i}}</button>
    </span>
  
      <h2> Stacja = {{stacja}}</h2>
      <button class="success" v-on:click = "radiosend" v-for="i in 10" v-bind:data-st=`${i}`>{{name}} {{titles[i]}}</button>
   
  
</div>
     
     
<script>
var stacjeObject = new Vue({
    el: '#app',
    data: {
        name:"Radio",
        titles:["kot","pies","małpa","słoń","b","c","a","b","c","a","b","c"],
        stacja:1
    },
    methods : {
       radiosend : function(event) {
          let st = event.target.dataset.st
          console.log(st);
          //console.log(this);
          this.stacja=st
          //return this.total =  this.num1+ this.num2;
       }
    },  
});
  
</script>