<!DOCTYPE html>
<html lang="pl">
<head>
<meta charset="utf-8">
      <title>@radioTune 3</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="HandheldFriendly" content="true">
<meta name="mobile-web-app-capable" content="yes"> 
<meta name="theme-color" content="#214960">
  
<style>
 @charset "UTF-8";
*,*::before,*::after {box-sizing: border-box;}   
button {
  padding: 10px 20px;
  border: 1px solid #ddd;
  background-color: #50bfff;
  color: #fff;
  margin:0.2em;
  border-radius: 0.8em;
  font-size: 12pt;
  font-family: "Verdana";
  cursor: pointer;
}
button.succ {
  background-color: #13ce66;
  color: #fff;
}
button.info {
  background-color: #369;
  color: #fff;
}

  p {margin:0;}
.wrap {
    z-index: 2;
    margin: auto;
    padding: 0.5rem;
    max-width: 800px;
}  
.col {
    grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
}  
</style>
  <script type = "text/javascript" src = "js/vue.js"></script>
  <script>
let streamsDEF = 
[
{},
{"a":"0", "n": "TOK-FM","s":"http://pl-play.adtonos.com/tok-fm"},
{"a":"0", "n": "RNS",   "s":"http://stream.rcs.revma.com/ypqt40u0x1zuv"},
{"a":"0", "n": "357",   "s":"http://stream.rcs.revma.com/ye5kghkgcm0uv"},
{"a":"2", "n": "SwissJazz","s":"http://stream.srg-ssr.ch/m/rsj/mp3_128"},
{"a":"2", "n": "SwissClassic","s":"http://stream.srg-ssr.ch/m/rsc_de/mp3_128"},
{"a":"2", "n": "ClassicFM", "s":"http://media-the.musicradio.com/ClassicFM"},
{"a":"1", "n": "RMF_Cl","s":"http://www.rmfon.pl/n/rmfclassic.pls"},
{"a":"1", "n": "Dwojka","s":"http://mp3.polskieradio.pl:8952/;"},
{"a":"1", "n": "RockService","s":"http://stream.open.fm/379"},
{"a":"1", "n": "101 Jazz","s":"https://ais-sa2.cdnstream1.com/b22139_128mp3"},
{"a":"0", "n": "Szczecin","s":"http://stream4.nadaje.com:11986/prs.aac.m3u"},
{"a":"0", "n": "Anty-Radio","s":"https://an.cdn.eurozet.pl/ant-waw.mp3"}
];
console.log(streamsDEF);
</script>
</head>
  
<body>


<div id="app" class="wrap">
    <!--
    <span class="btn" v-for="i in 12">
      <button v-bind:data-st=`${i}`>bt-{{i}}</button>
    </span>
    -->
      <p>{{czas}} <b>{{opis}}</b></p>
      <div id="info">{{infoVal}}</div>
      
      <h4>{{stacja}}/{{a}}, {{title}} = {{stream}} </h4>
      <div class="col">
        <button v-on:click = "infoRadio">Info()</button>
        <button v-on:click = "volume('m')">Vol --</button>
        <span>{{volumeVal}}</span>
        <button v-on:click = "volume('p')">Vol ++</button>
        <p>Number: <span>{{stacjaVal}}</span></p>
        <button class="succ" v-on:click = "radiosend" v-for="i in 10" v-bind:data-st=`${i}` v-bind:data-a=`${streams[i].a}` v-bind:data-stream=`${streams[i].s}` >{{streams[i].n}}</button>  
      </div>
      <div class="col">
        <p>Strams:</p> 
        <button class="info" v-on:click = "streamsend" v-for="i in 10" v-bind:data-st=`${i}` v-bind:data-a=`${streams[i].a}` v-bind:data-stream=`${streams[i].s}` >{{streams[i].n}}</button>  
     </div>
</div>
     
     
<script>
    var stacjeObject = new Vue({
        el: '#app',
        data: {
            name:"radioTunel",
            streams:streamsDEF,
            stacja:1,
            stream: null,
            title:  self.stacja,
            a:0,
            infoVal:"",
            volumeVal:"0",
            stacjaVal:1,
            czas:(new Date()).toLocaleString()
        },
        created: function() {
            this.infoRadio();
            setInterval(()=>{
                this.czas = (new Date()).toLocaleString();
            },1000);
            setInterval(()=>{
                console.log("http://192.168.31.115/radio?n=0")
                this.infoRadio();
            },15000);
          
          
        },
        computed: {
          opis: function () {
            return "["+this.stacja + '. ' + this.title+"]";
          }
        },
        methods : {
          volume : function(val) {
              console.log(val);
              let vurl = "http://192.168.31.115/radio?v="+val;
              console.log("vurl=",vurl);
              fetch(vurl)
              .then(r => {return r.text()})
              .then(tx => {
                this.opisInfoRadio(tx);
              })
              .catch(e => {console.log(e)})            
          },
           streamsend : function(event) {
              let a = event.target.dataset.a;
              let st = event.target.dataset.st;
              let stream = event.target.dataset.stream;
              let title  = event.target.textContent;
              console.log(st,a,title,stream);
              this.title=title;
              this.a=a;
              this.stacja=st;
              this.stream=stream;
              this.xradio();
             let surl = "http://192.168.31.115/radio?x="+encodeURIComponent(this.stream);
            console.log("surl=",surl);
            fetch(surl)
            .then(r => {return r.text()})
            .then(tx => {
              //this.opisInfoRadio(tx);
              this.infoRadio();
              setTimeout(()=>{this.infoRadio();},5000);
            })
            .catch(e => {console.log(e)})
           },
           radiosend : function(event) {
              let a = event.target.dataset.a;
              let st = event.target.dataset.st;
              let stream = event.target.dataset.stream;
              let title  = event.target.textContent;
              console.log(st,a,title,stream);
              this.title=title;
              this.a=a;
              this.stacja=st;
              this.stream=stream;
              this.xradio();
           },
          opisInfoRadio :  function(tx) {
            //console.log(tx);
              let arr = tx.split("!");
              console.log(arr);
              //if (arr[4]) arr[4] = "<br /><b>"+arr[4]+"</b><br />";
              this.stacjaVal = parseInt(arr[0])+1;
              this.volumeVal = arr[1];
              this.infoVal   = arr.join("; ");
              //document.getElementById("info").innerHTML = "<p>"+ arr.join("; ")+"</p>";
              //let html = "<p>";              
              /*arr.forEach((a)=>{
                html += a+"; ";
              });
              html += "</p>";
              document.getElementById("info").innerHTML = html;*/            
          },
          infoRadio :  function() {
            let nr = parseInt(this.stacja)-1;
            let furl = "http://192.168.31.115/radio?n=0";
            //console.log("furl=",furl);
            fetch(furl)
            .then(r => {return r.text()})
            .then(tx => {
              this.opisInfoRadio(tx);

            })
            .catch(e => {console.log(e)})
          },
          xradio :  function() {
            let nr = parseInt(this.stacja)-1;
            let furl = "http://192.168.31.115/radio?t="+nr;
            //console.log("furl=",furl);
            fetch(furl)
            .then(r => {return r.text()})
            .then(tx => {
              this.opisInfoRadio(tx);
              this.infoRadio();
              setTimeout(()=>{this.infoRadio();},5000);
            })
            .catch(e => {console.log(e)})
          },
          render : function() {
            this.stream = this.streams[1].s;
            this.title = this.streams[1].n;        

          }
        },
        mounted() {
          this.render();
        },
        updated() {
          console.log("updated");
        }  
    });
  
</script>
  
  
</body>
</html>
